* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

body {
    background:#222;
}

.card{
    width:90%;
    max-width: 470px;
    margin: 100px auto 0;
    padding: 40px 35px;
    background:linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 20px;
    color:#fff;
    text-align:center;

}

.search{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search input{
    padding:10px 20px;
    border:0;
    border-radius:30px;
    background:#ebfffc;
    color:#555;
    font-size:18px;
    outline:0;
    margin-right: 16px;
    flex:1;
    height:60px;
}

.search button{
    border: 0;
    background:#ebfffc;
    outline:0;
    border-radius: 50%;
    width:60px;
    height:60px;
    cursor: pointer;
}

.search button img{
    width:30px;
}

.weather-icon{
    width:170px;
    margin-top: 30px;
}

.weather h1{
    font-size:80px;
    font-weight: 500px;
}

.weather h2{
    font-size:45px;
    font-weight: 400px;
    margin-top:-10px;

}

.details{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    margin-top: 50px;
    
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top:-6px ;
}

.weather{
    display:none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top:10px;
    display:none;
}